fastapi
uvicorn
jinja2
sqlalchemy
python-telegram-bot==20.7
groq
python-dotenv
dateparser
apscheduler
requests
psycopg2-binary
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
httpx

